<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="DataServiceType" value="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService" />
    <add key="DefaultConnectionStringName" value="ConnectionStringMssql" />
    <!-- Audit -->
    <add key="AuditEnabled" value="true" />
    <add key="AuditConnectionStringName" value="ConnectionStringMssql" />
  </appSettings>
  <connectionStrings>
    <!-- Please set up your own database connection strings before you run integrated tests. -->
    <add name="ConnectionStringPostgres" connectionString="SERVER=localhost;User ID=postgres;Password=p@ssw0rd;Port=5432;" />
    <add name="ConnectionStringClickHouse" connectionString="" />
    <add name="ConnectionStringOracle" connectionString="" />
    <add name="ConnectionStringMssql" connectionString="" />
    <add name="ConnectionStringLocalSqlServer" connectionString="Data Source=(LocalDb)\v11.0;" />
    <add name="TestConnStr" connectionString="SERVER=.\SQLEXPRESS;Trusted_connection=yes;DATABASE=Test;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSSoft.STORMNET.FunctionalLanguage" publicKeyToken="88efc6f76e5cd161" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSSoft.STORMNET.Collections" publicKeyToken="898f36b7a907d804" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSSoft.STORMNET.DataObject" publicKeyToken="023a90c13b0ca8dc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSSoft.STORMNET.UserDataTypes" publicKeyToken="bc478021255def29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.20627" newVersion="7.5.0.20627" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="IAuditService" type="ICSSoft.STORMNET.Business.Audit.IAuditService, ICSSoft.STORMNET.Business" />
    <alias alias="DefaultAuditService" type="ICSSoft.STORMNET.Business.Audit.AuditService, ICSSoft.STORMNET.Business" />
    <alias alias="AuditAppSetting" type="ICSSoft.STORMNET.Business.Audit.Objects.AuditAppSetting, ICSSoft.STORMNET.Business" />
    <alias alias="IAudit" type="ICSSoft.STORMNET.Business.Audit.IAudit, ICSSoft.STORMNET.Business" />
    <alias alias="Audit" type="ICSSoft.STORMNET.Business.Audit.Audit, ICSSoft.STORMNET.Business.Audit" />
    <container>
      <!-- AuditAppSetting -->
      <register type="AuditAppSetting" mapTo="AuditAppSetting">
        <property name="AuditEnabled" value="true" />
      </register>
      <!-- IAuditService -->
      <register type="IAuditService" mapTo="DefaultAuditService">
        <lifetime type="singleton" />
        <property name="Audit" dependencyType="IAudit" />
        <property name="AppSetting" dependencyType="AuditAppSetting" />
        <property name="ApplicationMode" value="Web" />
        <!--<property name="PersistUtcDates" value="true" />-->
      </register>
      <register type="ICSSoft.Services.CurrentUserService+IUser, NewPlatform.Flexberry.ORM.CurrentUserService" mapTo="ICSSoft.STORMNET.Business.Audit.Tests.TestUser, NewPlatform.Flexberry.AuditBigData.Tests">
      </register>
      <register type="ICSSoft.STORMNET.Business.IConfigResolver, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.ConfigResolver, ICSSoft.STORMNET.Business">
        <lifetime type="singleton"/>
        <constructor/>
      </register>
      <register type="NewPlatform.Flexberry.Caching.ICacheService, NewPlatform.Flexberry.Caching"
        mapTo="NewPlatform.Flexberry.Caching.MemoryCacheService, NewPlatform.Flexberry.Caching">
        <constructor>
          <param name="cacheName" type="System.String" value="defaultCacheForApplication"/>
        </constructor>
      </register>
      <register type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService">
        <constructor>
          <param name="securityManager" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject">
            <dependency name="securityManagerWithoutRightsCheck"/>
          </param>
        </constructor>
        <property name="CustomizationStringName" dependencyType="System.String" value="DefConnStr"/>
      </register>
      <register name="dataServiceForAuditAgentManagerAdapter" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService">
        <constructor>
          <param name="securityManager" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject">
            <dependency name="securityManagerWithoutRightsCheck"/>
          </param>
        </constructor>
        <property name="CustomizationStringName" dependencyType="System.String" value="DefConnStr"/>
      </register>
      <register name="dataServiceForSecurityManager" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService">
        <constructor>
          <param name="securityManager" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject">
            <dependency name="securityManagerWithoutRightsCheck"/>
          </param>
        </constructor>
        <property name="CustomizationStringName" dependencyType="System.String" value="DefConnStr"/>
      </register>
      <register name="cacheServiceForSecurityManager" type="NewPlatform.Flexberry.Caching.ICacheService, NewPlatform.Flexberry.Caching"
        mapTo="NewPlatform.Flexberry.Caching.MemoryCacheService, NewPlatform.Flexberry.Caching">
        <lifetime type="singleton"/>
        <constructor>
          <param name="cacheName" type="System.String" value="cacheForSecurityManager"/>
        </constructor>
      </register>
      <register name="cacheServiceForAgentManager" type="NewPlatform.Flexberry.Caching.ICacheService, NewPlatform.Flexberry.Caching"
        mapTo="NewPlatform.Flexberry.Caching.MemoryCacheService, NewPlatform.Flexberry.Caching">
        <lifetime type="singleton"/>
        <constructor>
          <param name="cacheName" type="System.String" value="cacheForAgentManager"/>
        </constructor>
      </register>
      <register type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject"
        mapTo="NewPlatform.Flexberry.Security.SecurityManager, NewPlatform.Flexberry.Security">
        <constructor>
          <param name="dataService" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business">
            <dependency name="dataServiceForSecurityManager"/>
          </param>
          <param name="cacheService" type="NewPlatform.Flexberry.Caching.ICacheService, NewPlatform.Flexberry.Caching">
            <dependency name="cacheServiceForSecurityManager"/>
          </param>
          <param name="enabled" type="System.Boolean" value="true"/>
          <param name="useRightsOnObjects" type="System.Boolean" value="false"/>
          <param name="useRightsOnAttribute" type="System.Boolean" value="false"/>
        </constructor>
      </register>
      <register type="NewPlatform.Flexberry.Security.IAgentManager, NewPlatform.Flexberry.Security"
        mapTo="NewPlatform.Flexberry.Security.AgentManager, NewPlatform.Flexberry.Security">
        <constructor>
          <param name="dataService" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business">
            <dependency name="dataServiceForSecurityManager"/>
          </param>
          <param name="cacheService" type="NewPlatform.Flexberry.Caching.ICacheService, NewPlatform.Flexberry.Caching">
            <dependency name="cacheServiceForAgentManager"/>
          </param>
        </constructor>
      </register>
      <register type="NewPlatform.Flexberry.Security.IPasswordHasher, NewPlatform.Flexberry.Security"
        mapTo="NewPlatform.Flexberry.Security.Sha1PasswordHasher, NewPlatform.Flexberry.Security">
        <lifetime type="singleton"/>
        <constructor/>
      </register>
      <register name="securityManagerWithoutRightsCheck" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject"
        mapTo="ICSSoft.STORMNET.Security.EmptySecurityManager, ICSSoft.STORMNET.DataObject">
        <lifetime type="singleton"/>
        <constructor/>
      </register>
    </container>
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
  </unity>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
