<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataServiceType" value="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService" />
    <add key="DefaultConnectionStringName" value="ConnectionStringMssql" />
    <!-- Audit -->
    <add key="AuditEnabled" value="true" />
    <add key="AuditConnectionStringName" value="ConnectionStringMssql" />
  </appSettings>
  <connectionStrings>
    <!-- Please set up your own database connection strings before you run integrated tests. -->
    <add name="ConnectionStringPostgres" connectionString="SERVER=localhost;User ID=postgres;Password=p@ssw0rd;Port=5432;" />
    <!--<add name="ConnectionStringClickHouse" connectionString="Compress=False;BufferSize=32768;SocketTimeout=10000;CheckCompressedHash=False;Compressor=lz4;Host=localhost;Port=19000;User=default;Password=
" />-->
    <add name="ConnectionStringClickHouse" connectionString="" />
    <add name="ConnectionStringOracle" connectionString="" />
    <add name="ConnectionStringMssql" connectionString="" />
    <add name="ConnectionStringLocalSqlServer" connectionString="Data Source=(LocalDb)\v11.0;" />
    <add name="TestConnStr" connectionString="SERVER=.\SQLEXPRESS;Trusted_connection=yes;DATABASE=Test;" />
  </connectionStrings>
</configuration>
